.header {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
};
svg {
    width: 200px;
    min-width: 200px;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
   };

