.header {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.svg {
  width: 200px;
  min-width: 200px;
  height: auto;
  display: block;
  margin-right: 200px;
}

a {
  text-decoration: none;
}
