.rightside {
    width: 250px;
    height: 300px;
    border: 2px solid rgb(67, 67, 126);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.text {
    color: rgb(67, 67, 126);
    margin-bottom: 20px;

}